body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    background-color: rgb(206, 206, 206);
    color: rgb(33, 33, 33);
}

table{
    border-collapse: collapse;
}

td{
    padding: 15px;
}

th{
    background-color: navy;
    color: white;
}